 
/* start css.sty */
.cmr-5{font-size:50%;}
.cmr-7{font-size:70%;}
.cmmi-5{font-size:50%;font-style: italic;}
.cmmi-7{font-size:70%;font-style: italic;}
.cmmi-10{font-style: italic;}
.cmsy-5{font-size:50%;}
.cmsy-7{font-size:70%;}
.cmbx-10{ font-weight: bold;}
.cmbsy-10{font-weight: bold;}
.cmbsy-10{font-weight: bold;}
.cmbsy-10{font-weight: bold;}
.cmbsy-7{font-size:70%;font-weight: bold;}
.cmbsy-7{font-weight: bold;}
.cmbsy-7{font-weight: bold;}
.cmbsy-5{font-size:50%;font-weight: bold;}
.cmbsy-5{font-weight: bold;}
.cmbsy-5{font-weight: bold;}
.cmex-7{font-size:70%;}
.cmex-7x-x-71{font-size:49%;}
.cmr-17{font-size:170%;}
.cmr-12{font-size:120%;}
.cmr-8{font-size:80%;}
.cmtt-10{font-family: monospace,monospace;}
.cmti-10{ font-style: italic;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
math { text-indent: 0em; }
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:2.0pt; padding-right:2.0pt; text-indent:0pt; border:solid black 1.0pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:2.0pt; padding-right:2.0pt; text-indent:0pt; border:solid black 1.0pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
.equation td{text-align:center; vertical-align:middle; }
td.eq-no{ width:5%; }
table.equation { width:100%; } 
div.math-display, div.par-math-display{text-align:center;}
mtr.hline mtd{ border-bottom:black solid 1px; padding-top:2px; padding-bottom:0em; }
mtr.hline mtd mo{ display:none }
math .texttt { font-family: monospace; }
math .textit { font-style: italic; }
math .textsl { font-style: oblique; }
math .textsf { font-family: sans-serif; }
math .textbf { font-weight: bold; }
mo.MathClass-op + mi{margin-left:0.3em}
mi + mo.MathClass-op{margin-left:0.3em}
 math mstyle[mathvariant="bold"] { font-weight: bold; font-style: normal; } 
 math mstyle[mathvariant="normal"] { font-weight: normal; font-style: normal; } 
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
dt.enumerate-enumitem{float:left; clear:left; margin-left:1em; margin-right:1em;}
.equation-star td{text-align:center; vertical-align:middle; }
table.equation-star { width:100%; } 
mtd.align-odd{margin-left:2em; text-align:right;}
mtd.align-even{margin-right:2em; text-align:left;}
.boxed{border: 1px solid black; padding-left:2px; padding-right:2px;}
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
div.longtable{text-align:center;}
table.longtable{margin-left:auto; margin-right: auto;}
.supertabular {text-align:center}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.uline{ text-decoration:underline; }
.uuline{ text-decoration:underline; }
span.sout {text-decoration: line-through }
span.xout {text-decoration: line-through }
span.uwave {text-decoration:underline }
h2.titleHead { line-height: 30px; }
a:hover, a:visited, a:link, a:active { text-decoration: none; }
a:visited { color: darkblue; }
a:link { color: blue; }
a:hover { color: darkred; }
a:active { color: red; }
body { color: black; }
body { text-align: justify; }
body { margin-left: auto; }
body { margin-right: auto; }
body { margin-top: 120px; }
body { margin-bottom: 0px; }
body { font-family: "Averia Serif Libre"; }
body { line-height: 18px; }
body { max-width: 650px; }
body { background-color: #FFFFC0; }
@media screen and ( max-width: 690px ) { body { margin-left: 20px; margin-right: 20px; } } 
.footinfo { margin-bottom: 7px; }
.footenv { margin-top: 50px; }
.footenv { margin-bottom: 10px; }
.footenv { line-height: 12px; }
.footenv { text-align: right; }
#TBL-4-1-1{width:0.75cm;}
#TBL-7-1-1{width:0.75cm;}
#TBL-10-1-1{width:0.75cm;}
#TBL-13-1-1{width:0.75cm;}
#TBL-16-1-1{width:0.75cm;}
.tags { line-height: 25px; }
.tags { padding-left: 3%; }
.tags { float: right; }
.tags { text-align: right; }
.tags { max-width: 38.19660112501051%; }
#textcolor297{color:#000000}
#textcolor298{color:#0000FF}
#textcolor299{color:#000000}
#textcolor300{color:#0000FF}
#textcolor301{color:#000000}
#textcolor302{color:#0000FF}
#textcolor303{color:#000000}
#textcolor304{color:#0000FF}
#textcolor305{color:#000000}
#textcolor306{color:#0000FF}
#textcolor307{color:#000000}
#textcolor308{color:#0000FF}
#textcolor309{color:#000000}
#textcolor310{color:#0000FF}
#textcolor311{color:#000000}
#textcolor312{color:#0000FF}
#textcolor313{color:#000000}
#textcolor314{color:#0000FF}
#textcolor315{color:#000000}
#textcolor316{color:#0000FF}
#textcolor317{color:#000000}
#textcolor318{color:#0000FF}
#textcolor319{color:#000000}
#textcolor320{color:#0000FF}
#textcolor321{color:#000000}
#textcolor322{color:#000000}
#textcolor323{color:#000000}
#textcolor324{color:#0000FF}
#textcolor325{color:#000000}
#textcolor326{color:#0000FF}
#textcolor327{color:#000000}
#textcolor328{color:#0000FF}
#textcolor329{color:#000000}
#textcolor330{color:#0000FF}
#textcolor331{color:#000000}
#textcolor332{color:#0000FF}
#textcolor333{color:#000000}
#textcolor334{color:#0000FF}
#textcolor335{color:#000000}
#textcolor336{color:#0000FF}
#textcolor337{color:#000000}
#textcolor338{color:#0000FF}
#textcolor339{color:#000000}
#textcolor340{color:#0000FF}
#textcolor341{color:#000000}
#textcolor342{color:#0000FF}
#textcolor343{color:#000000}
#textcolor344{color:#0000FF}
#textcolor345{color:#000000}
#textcolor346{color:#0000FF}
#textcolor347{color:#000000}
#textcolor348{color:#0000FF}
#textcolor349{color:#000000}
#textcolor350{color:#000000}
#textcolor351{color:#000000}
#textcolor352{color:#0000FF}
#textcolor353{color:#000000}
#textcolor354{color:#0000FF}
#textcolor355{color:#000000}
#textcolor356{color:#0000FF}
#textcolor357{color:#000000}
#textcolor358{color:#000000}
#textcolor359{color:#000000}
#textcolor360{color:#0000FF}
#textcolor361{color:#000000}
#textcolor362{color:#0000FF}
#textcolor363{color:#000000}
#textcolor364{color:#0000FF}
#textcolor365{color:#000000}
#textcolor366{color:#0000FF}
#textcolor367{color:#000000}
#textcolor368{color:#000000}
#textcolor369{color:#000000}
#textcolor370{color:#0000FF}
#textcolor371{color:#000000}
#textcolor372{color:#0000FF}
#textcolor373{color:#000000}
#textcolor374{color:#0000FF}
#textcolor375{color:#000000}
#textcolor376{color:#000000}
#textcolor377{color:#000000}
#textcolor378{color:#0000FF}
#textcolor379{color:#000000}
#textcolor380{color:#0000FF}
#textcolor381{color:#000000}
#textcolor382{color:#0000FF}
#textcolor383{color:#000000}
#textcolor384{color:#0000FF}
#textcolor385{color:#000000}
#textcolor386{color:#0000FF}
#textcolor387{color:#000000}
#textcolor388{color:#0000FF}
#textcolor389{color:#000000}
#textcolor390{color:#0000FF}
#textcolor391{color:#000000}
#textcolor392{color:#000000}
#textcolor393{color:#000000}
#textcolor394{color:#0000FF}
#textcolor395{color:#000000}
#textcolor396{color:#0000FF}
#textcolor397{color:#000000}
#textcolor398{color:#0000FF}
#textcolor399{color:#000000}
#textcolor400{color:#0000FF}
#textcolor401{color:#000000}
#textcolor402{color:#0000FF}
#textcolor403{color:#000000}
#textcolor404{color:#0000FF}
#textcolor405{color:#000000}
#textcolor406{color:#0000FF}
#textcolor407{color:#000000}
#textcolor408{color:#0000FF}
#textcolor409{color:#000000}
#textcolor410{color:#000000}
#textcolor411{color:#000000}
#textcolor412{color:#0000FF}
#textcolor413{color:#000000}
#textcolor414{color:#0000FF}
#textcolor415{color:#000000}
#textcolor416{color:#0000FF}
#textcolor417{color:#000000}
#textcolor418{color:#0000FF}
#textcolor419{color:#000000}
#textcolor420{color:#0000FF}
#textcolor421{color:#000000}
#textcolor422{color:#0000FF}
#textcolor423{color:#000000}
#textcolor424{color:#0000FF}
#textcolor425{color:#000000}
#textcolor426{color:#0000FF}
#textcolor427{color:#000000}
#textcolor428{color:#000000}
#textcolor429{color:#000000}
#textcolor430{color:#0000FF}
#textcolor431{color:#000000}
#textcolor432{color:#0000FF}
#textcolor433{color:#000000}
#textcolor434{color:#0000FF}
#textcolor435{color:#000000}
#textcolor436{color:#0000FF}
#textcolor437{color:#000000}
#textcolor438{color:#0000FF}
#textcolor439{color:#000000}
#textcolor440{color:#0000FF}
#textcolor441{color:#000000}
#textcolor442{color:#0000FF}
#textcolor443{color:#000000}
#textcolor444{color:#000000}
#textcolor577{color:#000000}
#textcolor578{color:#0000FF}
#textcolor579{color:#000000}
#textcolor580{color:#0000FF}
#textcolor581{color:#000000}
#textcolor582{color:#0000FF}
#textcolor583{color:#000000}
#textcolor584{color:#0000FF}
#textcolor585{color:#000000}
#textcolor586{color:#000000}
#textcolor587{color:#000000}
#textcolor588{color:#0000FF}
#textcolor589{color:#000000}
#textcolor590{color:#0000FF}
#textcolor591{color:#000000}
#textcolor592{color:#0000FF}
#textcolor593{color:#000000}
#textcolor594{color:#0000FF}
#textcolor595{color:#000000}
#textcolor596{color:#0000FF}
#textcolor597{color:#000000}
#textcolor598{color:#0000FF}
#textcolor599{color:#000000}
#textcolor600{color:#0000FF}
#textcolor601{color:#000000}
#textcolor602{color:#0000FF}
#textcolor603{color:#000000}
#textcolor604{color:#0000FF}
#textcolor605{color:#000000}
#textcolor606{color:#0000FF}
#textcolor607{color:#000000}
#textcolor608{color:#0000FF}
#textcolor609{color:#000000}
#textcolor610{color:#0000FF}
#textcolor611{color:#000000}
#textcolor612{color:#000000}
#textcolor613{color:#000000}
#textcolor614{color:#0000FF}
#textcolor615{color:#000000}
#textcolor616{color:#0000FF}
#textcolor617{color:#000000}
#textcolor618{color:#0000FF}
#textcolor619{color:#000000}
#textcolor620{color:#0000FF}
#textcolor621{color:#000000}
#textcolor622{color:#0000FF}
#textcolor623{color:#000000}
#textcolor624{color:#0000FF}
#textcolor625{color:#000000}
#textcolor626{color:#0000FF}
#textcolor627{color:#000000}
#textcolor628{color:#000000}
#textcolor629{color:#000000}
#textcolor630{color:#0000FF}
#textcolor631{color:#000000}
#textcolor632{color:#0000FF}
#textcolor633{color:#000000}
#textcolor634{color:#0000FF}
#textcolor635{color:#000000}
#textcolor636{color:#000000}
#textcolor637{color:#000000}
#textcolor638{color:#0000FF}
#textcolor639{color:#000000}
#textcolor640{color:#0000FF}
#textcolor641{color:#000000}
#textcolor642{color:#000000}
#textcolor649{color:#000000}
#textcolor650{color:#000000}
#textcolor651{color:#000000}
#textcolor750{color:#000000}
#textcolor751{color:#0000FF}
#textcolor752{color:#000000}
#textcolor753{color:#0000FF}
#textcolor754{color:#000000}
#textcolor755{color:#0000FF}
#textcolor756{color:#000000}
#textcolor757{color:#0000FF}
#textcolor758{color:#000000}
#textcolor759{color:#0000FF}
#textcolor760{color:#000000}
#textcolor761{color:#0000FF}
#textcolor762{color:#000000}
#textcolor763{color:#0000FF}
#textcolor764{color:#000000}
#textcolor765{color:#0000FF}
#textcolor766{color:#000000}
#textcolor767{color:#000000}
#textcolor768{color:#0000FF}
#textcolor769{color:#000000}
#textcolor770{color:#0000FF}
#textcolor771{color:#000000}
#textcolor772{color:#0000FF}
#textcolor773{color:#000000}
#textcolor774{color:#0000FF}
#textcolor775{color:#000000}
#textcolor776{color:#0000FF}
#textcolor777{color:#000000}
#textcolor778{color:#0000FF}
#textcolor779{color:#000000}
#textcolor780{color:#0000FF}
#textcolor781{color:#000000}
#textcolor782{color:#0000FF}
#textcolor783{color:#000000}
#textcolor784{color:#000000}
#textcolor785{color:#0000FF}
#textcolor786{color:#000000}
#textcolor787{color:#0000FF}
#textcolor788{color:#000000}
#textcolor789{color:#0000FF}
#textcolor790{color:#000000}
#textcolor791{color:#0000FF}
#textcolor792{color:#000000}
#textcolor793{color:#0000FF}
#textcolor794{color:#000000}
#textcolor795{color:#0000FF}
#textcolor796{color:#000000}
#textcolor797{color:#0000FF}
#textcolor798{color:#000000}
/* end css.sty */

