 
/* start css.sty */
.cmr-5{font-size:50%;}
.cmr-7{font-size:70%;}
.cmmi-5{font-size:50%;font-style: italic;}
.cmmi-7{font-size:70%;font-style: italic;}
.cmmi-10{font-style: italic;}
.cmsy-5{font-size:50%;}
.cmsy-7{font-size:70%;}
.cmbx-10{ font-weight: bold;}
.cmbsy-10{font-weight: bold;}
.cmbsy-10{font-weight: bold;}
.cmbsy-10{font-weight: bold;}
.cmbsy-7{font-size:70%;font-weight: bold;}
.cmbsy-7{font-weight: bold;}
.cmbsy-7{font-weight: bold;}
.cmbsy-5{font-size:50%;font-weight: bold;}
.cmbsy-5{font-weight: bold;}
.cmbsy-5{font-weight: bold;}
.cmex-7{font-size:70%;}
.cmex-7x-x-71{font-size:49%;}
.cmr-17{font-size:170%;}
.cmr-12{font-size:120%;}
.cmr-8{font-size:80%;}
.cmti-10{ font-style: italic;}
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
math { text-indent: 0em; }
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.equation td{text-align:center; vertical-align:middle; }
td.eq-no{ width:5%; }
table.equation { width:100%; } 
div.math-display, div.par-math-display{text-align:center;}
mtr.hline mtd{ border-bottom:black solid 1px; padding-top:2px; padding-bottom:0em; }
mtr.hline mtd mo{ display:none }
math .texttt { font-family: monospace; }
math .textit { font-style: italic; }
math .textsl { font-style: oblique; }
math .textsf { font-family: sans-serif; }
math .textbf { font-weight: bold; }
mo.MathClass-op + mi{margin-left:0.3em}
mi + mo.MathClass-op{margin-left:0.3em}
 math mi[mathvariant="bold"] { font-weight: bold; font-style: normal; } 
 math mi[mathvariant="normal"] { font-weight: normal; font-style: normal; } 
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
dt.enumerate-enumitem{float:left; clear:left; margin-left:1em; margin-right:1em;}
.equation-star td{text-align:center; vertical-align:middle; }
table.equation-star { width:100%; } 
mtd.align-odd{margin-left:2em; text-align:right;}
mtd.align-even{margin-right:2em; text-align:left;}
.boxed{border: 1px solid black; padding-left:2px; padding-right:2px;}
mo.qopname + mi{margin-left:0.3em}
mi + mo.qopname{margin-left:0.3em}
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
div.longtable{text-align:center;}
.supertabular {text-align:center}
a:hover, a:visited, a:link, a:active { text-decoration: none; }
a:visited { color: darkblue; }
a:link { color: blue; }
a:hover { color: darkred; }
a:active { color: red; }
body { text-align: justify; }
body { margin-left: auto; }
body { margin-right: auto; }
body { margin-top: 120px; }
body { margin-bottom: 0px; }
body { font-family: "Averia Serif Libre"; }
body { line-height: 18px; }
body { max-width: 650px; }
body { background-color: #FFFFC0; }
@media screen and ( max-width: 690px ) { body { margin-left: 20px; margin-right: 20px; } } 
.footinfo { margin-bottom: 7px; }
.footenv { margin-top: 50px; }
.footenv { margin-bottom: 10px; }
.footenv { line-height: 12px; }
.footenv { text-align: right; }
#textcolor1{color:#000000}
#textcolor2{color:#0000FF}
#textcolor3{color:#000000}
#textcolor4{color:#0000FF}
#textcolor5{color:#000000}
#textcolor6{color:#0000FF}
#textcolor7{color:#000000}
#textcolor8{color:#000000}
#textcolor9{color:#0000FF}
#textcolor10{color:#000000}
#textcolor11{color:#0000FF}
#textcolor12{color:#000000}
#textcolor13{color:#0000FF}
#textcolor14{color:#000000}
#textcolor15{color:#0000FF}
#textcolor16{color:#000000}
#textcolor17{color:#0000FF}
#textcolor18{color:#000000}
#textcolor19{color:#0000FF}
#textcolor20{color:#000000}
#textcolor21{color:#0000FF}
#textcolor22{color:#000000}
#textcolor23{color:#000000}
#textcolor24{color:#0000FF}
#textcolor25{color:#000000}
#textcolor26{color:#0000FF}
#textcolor27{color:#000000}
#textcolor28{color:#0000FF}
#textcolor29{color:#000000}
#textcolor30{color:#0000FF}
#textcolor31{color:#000000}
#textcolor32{color:#0000FF}
#textcolor33{color:#000000}
#textcolor34{color:#0000FF}
#textcolor35{color:#000000}
#textcolor36{color:#0000FF}
#textcolor37{color:#000000}
#textcolor38{color:#0000FF}
#textcolor39{color:#000000}
#textcolor40{color:#000000}
#textcolor41{color:#0000FF}
#textcolor42{color:#000000}
#textcolor43{color:#0000FF}
#textcolor44{color:#000000}
#textcolor45{color:#0000FF}
#textcolor46{color:#000000}
#textcolor47{color:#0000FF}
#textcolor48{color:#000000}
#textcolor49{color:#0000FF}
#textcolor50{color:#000000}
#textcolor51{color:#0000FF}
#textcolor52{color:#000000}
#textcolor53{color:#0000FF}
#textcolor54{color:#000000}
#textcolor55{color:#0000FF}
#textcolor56{color:#000000}
#textcolor57{color:#000000}
#textcolor58{color:#0000FF}
#textcolor59{color:#000000}
#textcolor60{color:#0000FF}
#textcolor61{color:#000000}
#textcolor62{color:#0000FF}
#textcolor63{color:#000000}
#textcolor64{color:#0000FF}
#textcolor65{color:#000000}
#textcolor66{color:#0000FF}
#textcolor67{color:#000000}
#textcolor68{color:#0000FF}
#textcolor69{color:#000000}
#textcolor70{color:#0000FF}
#textcolor71{color:#000000}
#textcolor72{color:#000000}
#textcolor73{color:#0000FF}
#textcolor74{color:#000000}
#textcolor75{color:#0000FF}
#textcolor76{color:#000000}
#textcolor77{color:#0000FF}
#textcolor78{color:#000000}
#textcolor79{color:#0000FF}
#textcolor80{color:#000000}
#textcolor81{color:#0000FF}
#textcolor82{color:#000000}
#textcolor83{color:#0000FF}
#textcolor84{color:#000000}
#textcolor85{color:#0000FF}
#textcolor86{color:#000000}
#textcolor87{color:#0000FF}
#textcolor88{color:#000000}
#textcolor89{color:#0000FF}
#textcolor90{color:#000000}
#textcolor91{color:#0000FF}
#textcolor92{color:#000000}
#textcolor93{color:#0000FF}
#textcolor94{color:#000000}
#textcolor95{color:#0000FF}
#textcolor96{color:#000000}
#textcolor97{color:#000000}
#textcolor98{color:#0000FF}
#textcolor99{color:#000000}
#textcolor100{color:#0000FF}
#textcolor101{color:#000000}
#textcolor102{color:#0000FF}
#textcolor103{color:#000000}
#textcolor104{color:#0000FF}
#textcolor105{color:#000000}
#textcolor106{color:#0000FF}
#textcolor107{color:#000000}
#textcolor108{color:#0000FF}
#textcolor109{color:#000000}
#textcolor110{color:#0000FF}
#textcolor111{color:#000000}
#textcolor112{color:#000000}
#textcolor113{color:#0000FF}
#textcolor114{color:#000000}
#textcolor115{color:#0000FF}
#textcolor116{color:#000000}
#textcolor117{color:#0000FF}
#textcolor118{color:#000000}
#textcolor119{color:#000000}
#textcolor120{color:#0000FF}
#textcolor121{color:#000000}
#textcolor122{color:#0000FF}
#textcolor123{color:#000000}
#textcolor124{color:#0000FF}
#textcolor125{color:#000000}
#textcolor126{color:#0000FF}
#textcolor127{color:#000000}
#textcolor128{color:#0000FF}
#textcolor129{color:#000000}
#textcolor130{color:#0000FF}
#textcolor131{color:#000000}
#textcolor132{color:#0000FF}
#textcolor133{color:#000000}
#textcolor134{color:#000000}
#textcolor135{color:#0000FF}
#textcolor136{color:#000000}
#textcolor137{color:#0000FF}
#textcolor138{color:#000000}
#textcolor139{color:#0000FF}
#textcolor140{color:#000000}
#textcolor141{color:#000000}
#textcolor142{color:#0000FF}
#textcolor143{color:#000000}
#textcolor144{color:#0000FF}
#textcolor145{color:#000000}
#textcolor146{color:#0000FF}
#textcolor147{color:#000000}
#textcolor148{color:#0000FF}
#textcolor149{color:#000000}
#textcolor150{color:#0000FF}
#textcolor151{color:#000000}
#textcolor152{color:#0000FF}
#textcolor153{color:#000000}
#textcolor154{color:#0000FF}
#textcolor155{color:#000000}
#textcolor156{color:#0000FF}
#textcolor157{color:#000000}
#textcolor158{color:#0000FF}
#textcolor159{color:#000000}
#textcolor160{color:#0000FF}
#textcolor161{color:#000000}
#textcolor162{color:#0000FF}
#textcolor163{color:#000000}
#textcolor164{color:#000000}
#textcolor165{color:#0000FF}
#textcolor166{color:#000000}
#textcolor167{color:#0000FF}
#textcolor168{color:#000000}
#textcolor169{color:#0000FF}
#textcolor170{color:#000000}
#textcolor171{color:#0000FF}
#textcolor172{color:#000000}
#textcolor173{color:#0000FF}
#textcolor174{color:#000000}
#textcolor175{color:#0000FF}
#textcolor176{color:#000000}
#textcolor177{color:#0000FF}
#textcolor178{color:#000000}
#textcolor179{color:#0000FF}
#textcolor180{color:#000000}
#textcolor181{color:#000000}
#textcolor182{color:#0000FF}
#textcolor183{color:#000000}
#textcolor184{color:#0000FF}
#textcolor185{color:#000000}
#textcolor186{color:#0000FF}
#textcolor187{color:#000000}
#textcolor188{color:#0000FF}
#textcolor189{color:#000000}
#textcolor190{color:#0000FF}
#textcolor191{color:#000000}
#textcolor192{color:#0000FF}
#textcolor193{color:#000000}
#textcolor194{color:#0000FF}
#textcolor195{color:#000000}
/* end css.sty */

