 
/* start css.sty */
.cmr-17{font-size:170%;}
.cmr-12{font-size:120%;}
.cmr-8{font-size:80%;}
.cmtt-10{font-family: monospace,monospace;}
.cmbx-10{ font-weight: bold;}
.cmti-10{ font-style: italic;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
body{ margin:1em auto; max-width:80ch; padding:0 .62em; }
h1,h2,h3,h4,h5 { line-height:1.2; }
@media print{ body{ max-width:none } }
.partHead, .likepartHead { font-size: 2em; }
.chapterHead, .likechapterHead { font-size: 1.7411em; }
.sectionHead, .likesectionHead { font-size: 1.5157em; }
.subsectionHead, .likesubsectionHead { font-size: 1.3195em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1.1487em; }
 @media (prefers-color-scheme: dark) { img[src^="index"]{filter: invert(1); } } 
 body { background-color: Canvas; color: CanvasText; color-scheme: light dark; } 
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:2.0pt; padding-right:2.0pt; text-indent:0pt; border:solid black 1.0pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:2.0pt; padding-right:2.0pt; text-indent:0pt; border:solid black 1.0pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
code.verb{font-family:monospace,monospace;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center; margin-top: 0.5rem;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
.subsectionToc, .likesubsectionToc {margin-left:1em;}
.subsubsectionToc, .likesubsubsectionToc {margin-left:2em;}
.paragraphToc, .likeparagraphToc {margin-left:3em;}
.subparagraphToc, .likesubparagraphToc {margin-left:4em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
.abstract{margin:1em;}
dl.enumerate-enumitem{display:grid; grid-template-columns: 3ch 1fr; align-items: top; row-gap:1ch;}
.glsgroupskip{margin-bottom:1rem;}
.glsgroupskip + .glsgroupskip{margin-bottom: 0;}
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
table.longtable{border-collapse: collapse; border-spacing: 0;}
div.longtable{text-align:center;}
table.longtable{margin-left:auto; margin-right: auto;}
caption.longtable .id{font-weight:bold;}
.supertabular {text-align:center}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
div.array {text-align:center;}
.uline,.uline-math{ text-decoration:underline; }
.uuline,.uuline-math{ text-decoration:underline double; }
span.sout, .sout-math {text-decoration: line-through }
span.xout, .xout-math {text-decoration: line-through underline }
span.uwave, .uwave-math {text-decoration:underline wavy; }
span.dashuline, .dashuline-math {text-decoration:underline dashed;}
span.dotuline, .dotuline-math {text-decoration:underline dotted;}
h2.titleHead { line-height: 30px; }
a:hover, a:visited, a:link, a:active { text-decoration: none; }
a:visited { color: darkblue; }
a:link { color: blue; }
a:hover { color: darkred; }
a:active { color: red; }
body { color: black; font-size: 18px; }
body { text-align: justify; }
body { margin-left: auto; }
body { margin-right: auto; }
body { margin-top: 120px; }
body { margin-bottom: 0px; }
body { font-family: "Averia Serif Libre"; }
body { max-width: 650px; }
body { background-color: #FFFFC0; }
@media screen and ( max-width: 690px ) { body { margin-left: 20px; margin-right: 20px; } } 
.footinfo { margin-bottom: 7px; }
.footenv { margin-top: 50px; }
.footenv { margin-bottom: 10px; }
.footenv { line-height: 12px; }
.footenv { text-align: right; }
#TBL-4-1-1{width:0.87cm;}
#TBL-7-1-1{width:0.87cm;}
#TBL-10-1-1{width:0.87cm;}
#TBL-13-1-1{width:0.87cm;}
#TBL-16-1-1{width:0.87cm;}
.tags { line-height: 25px; }
.tags { padding-left: 3%; }
.tags { float: right; }
.tags { text-align: right; }
.tags { max-width: 38.19660112501051%; }
span#textcolor1{color:#000000}
span#textcolor490{color:#000000}
span#textcolor491{color:#0000FF}
span#textcolor492{color:#000000}
span#textcolor493{color:#0000FF}
span#textcolor494{color:#000000}
span#textcolor495{color:#0000FF}
span#textcolor496{color:#000000}
span#textcolor497{color:#0000FF}
span#textcolor498{color:#000000}
span#textcolor499{color:#0000FF}
span#textcolor500{color:#000000}
span#textcolor501{color:#0000FF}
span#textcolor502{color:#000000}
span#textcolor503{color:#0000FF}
span#textcolor504{color:#000000}
span#textcolor505{color:#0000FF}
span#textcolor506{color:#000000}
span#textcolor507{color:#0000FF}
span#textcolor508{color:#000000}
span#textcolor509{color:#0000FF}
span#textcolor510{color:#000000}
span#textcolor511{color:#0000FF}
span#textcolor512{color:#000000}
span#textcolor513{color:#0000FF}
span#textcolor514{color:#000000}
span#textcolor515{color:#0000FF}
span#textcolor516{color:#000000}
span#textcolor517{color:#0000FF}
span#textcolor518{color:#000000}
span#textcolor519{color:#0000FF}
span#textcolor520{color:#000000}
span#textcolor521{color:#000000}
span#textcolor522{color:#000000}
span#textcolor523{color:#0000FF}
span#textcolor524{color:#000000}
span#textcolor525{color:#0000FF}
span#textcolor526{color:#000000}
span#textcolor527{color:#0000FF}
span#textcolor528{color:#000000}
span#textcolor529{color:#0000FF}
span#textcolor530{color:#000000}
span#textcolor531{color:#0000FF}
span#textcolor532{color:#000000}
span#textcolor533{color:#0000FF}
span#textcolor534{color:#000000}
span#textcolor535{color:#0000FF}
span#textcolor536{color:#000000}
span#textcolor537{color:#0000FF}
span#textcolor538{color:#000000}
span#textcolor539{color:#0000FF}
span#textcolor540{color:#000000}
span#textcolor541{color:#0000FF}
span#textcolor542{color:#000000}
span#textcolor543{color:#0000FF}
span#textcolor544{color:#000000}
span#textcolor545{color:#0000FF}
span#textcolor546{color:#000000}
span#textcolor547{color:#0000FF}
span#textcolor548{color:#000000}
span#textcolor549{color:#0000FF}
span#textcolor550{color:#000000}
span#textcolor551{color:#0000FF}
span#textcolor552{color:#000000}
span#textcolor553{color:#0000FF}
span#textcolor554{color:#000000}
span#textcolor555{color:#0000FF}
span#textcolor556{color:#000000}
span#textcolor557{color:#000000}
span#textcolor558{color:#000000}
span#textcolor559{color:#0000FF}
span#textcolor560{color:#000000}
span#textcolor561{color:#0000FF}
span#textcolor562{color:#000000}
span#textcolor563{color:#0000FF}
span#textcolor564{color:#000000}
span#textcolor565{color:#0000FF}
span#textcolor566{color:#000000}
span#textcolor567{color:#0000FF}
span#textcolor568{color:#000000}
span#textcolor569{color:#0000FF}
span#textcolor570{color:#000000}
span#textcolor571{color:#0000FF}
span#textcolor572{color:#000000}
span#textcolor573{color:#0000FF}
span#textcolor574{color:#000000}
span#textcolor575{color:#0000FF}
span#textcolor576{color:#000000}
span#textcolor577{color:#0000FF}
span#textcolor578{color:#000000}
span#textcolor579{color:#0000FF}
span#textcolor580{color:#000000}
span#textcolor581{color:#0000FF}
span#textcolor582{color:#000000}
span#textcolor583{color:#0000FF}
span#textcolor584{color:#000000}
span#textcolor585{color:#000000}
span#textcolor586{color:#000000}
span#textcolor587{color:#0000FF}
span#textcolor588{color:#000000}
span#textcolor589{color:#0000FF}
span#textcolor590{color:#000000}
span#textcolor591{color:#0000FF}
span#textcolor592{color:#000000}
span#textcolor593{color:#000000}
span#textcolor594{color:#000000}
span#textcolor595{color:#0000FF}
span#textcolor596{color:#000000}
span#textcolor597{color:#0000FF}
span#textcolor598{color:#000000}
span#textcolor599{color:#0000FF}
span#textcolor600{color:#000000}
span#textcolor601{color:#0000FF}
span#textcolor602{color:#000000}
span#textcolor603{color:#0000FF}
span#textcolor604{color:#000000}
span#textcolor605{color:#0000FF}
span#textcolor606{color:#000000}
span#textcolor607{color:#0000FF}
span#textcolor608{color:#000000}
span#textcolor609{color:#0000FF}
span#textcolor610{color:#000000}
span#textcolor611{color:#0000FF}
span#textcolor612{color:#000000}
span#textcolor613{color:#0000FF}
span#textcolor614{color:#000000}
span#textcolor615{color:#0000FF}
span#textcolor616{color:#000000}
span#textcolor617{color:#0000FF}
span#textcolor618{color:#000000}
span#textcolor619{color:#000000}
span#textcolor620{color:#000000}
span#textcolor621{color:#0000FF}
span#textcolor622{color:#000000}
span#textcolor623{color:#0000FF}
span#textcolor624{color:#000000}
span#textcolor625{color:#0000FF}
span#textcolor626{color:#000000}
span#textcolor627{color:#0000FF}
span#textcolor628{color:#000000}
span#textcolor629{color:#0000FF}
span#textcolor630{color:#000000}
span#textcolor631{color:#0000FF}
span#textcolor632{color:#000000}
span#textcolor633{color:#0000FF}
span#textcolor634{color:#000000}
span#textcolor635{color:#0000FF}
span#textcolor636{color:#000000}
span#textcolor637{color:#0000FF}
span#textcolor638{color:#000000}
span#textcolor639{color:#0000FF}
span#textcolor640{color:#000000}
span#textcolor641{color:#0000FF}
span#textcolor642{color:#000000}
span#textcolor643{color:#0000FF}
span#textcolor644{color:#000000}
span#textcolor645{color:#0000FF}
span#textcolor646{color:#000000}
span#textcolor647{color:#000000}
span#textcolor648{color:#000000}
span#textcolor649{color:#0000FF}
span#textcolor650{color:#000000}
span#textcolor651{color:#0000FF}
span#textcolor652{color:#000000}
span#textcolor653{color:#0000FF}
span#textcolor654{color:#000000}
span#textcolor655{color:#0000FF}
span#textcolor656{color:#000000}
span#textcolor657{color:#000000}
span#textcolor658{color:#000000}
span#textcolor659{color:#0000FF}
span#textcolor660{color:#000000}
span#textcolor661{color:#0000FF}
span#textcolor662{color:#000000}
span#textcolor663{color:#0000FF}
span#textcolor664{color:#000000}
span#textcolor665{color:#000000}
span#textcolor666{color:#000000}
span#textcolor667{color:#0000FF}
span#textcolor668{color:#000000}
span#textcolor669{color:#0000FF}
span#textcolor670{color:#000000}
span#textcolor671{color:#0000FF}
span#textcolor672{color:#000000}
span#textcolor673{color:#0000FF}
span#textcolor674{color:#000000}
span#textcolor675{color:#0000FF}
span#textcolor676{color:#000000}
span#textcolor677{color:#0000FF}
span#textcolor678{color:#000000}
span#textcolor679{color:#0000FF}
span#textcolor680{color:#000000}
span#textcolor681{color:#000000}
span#textcolor682{color:#000000}
span#textcolor683{color:#0000FF}
span#textcolor684{color:#000000}
span#textcolor685{color:#0000FF}
span#textcolor686{color:#000000}
span#textcolor687{color:#0000FF}
span#textcolor688{color:#000000}
span#textcolor689{color:#0000FF}
span#textcolor690{color:#000000}
span#textcolor691{color:#0000FF}
span#textcolor692{color:#000000}
span#textcolor693{color:#0000FF}
span#textcolor694{color:#000000}
span#textcolor695{color:#0000FF}
span#textcolor696{color:#000000}
span#textcolor697{color:#0000FF}
span#textcolor698{color:#000000}
span#textcolor699{color:#000000}
span#textcolor700{color:#000000}
span#textcolor701{color:#0000FF}
span#textcolor702{color:#000000}
span#textcolor703{color:#0000FF}
span#textcolor704{color:#000000}
span#textcolor705{color:#0000FF}
span#textcolor706{color:#000000}
span#textcolor707{color:#0000FF}
span#textcolor708{color:#000000}
span#textcolor709{color:#0000FF}
span#textcolor710{color:#000000}
span#textcolor711{color:#0000FF}
span#textcolor712{color:#000000}
span#textcolor713{color:#0000FF}
span#textcolor714{color:#000000}
span#textcolor715{color:#0000FF}
span#textcolor716{color:#000000}
span#textcolor717{color:#000000}
span#textcolor718{color:#000000}
span#textcolor719{color:#0000FF}
span#textcolor720{color:#000000}
span#textcolor721{color:#0000FF}
span#textcolor722{color:#000000}
span#textcolor723{color:#0000FF}
span#textcolor724{color:#000000}
span#textcolor725{color:#0000FF}
span#textcolor726{color:#000000}
span#textcolor727{color:#0000FF}
span#textcolor728{color:#000000}
span#textcolor729{color:#0000FF}
span#textcolor730{color:#000000}
span#textcolor731{color:#0000FF}
span#textcolor732{color:#000000}
span#textcolor733{color:#000000}
span#textcolor1074{color:#000000}
span#textcolor1075{color:#0000FF}
span#textcolor1076{color:#000000}
span#textcolor1077{color:#0000FF}
span#textcolor1078{color:#000000}
span#textcolor1079{color:#0000FF}
span#textcolor1080{color:#000000}
span#textcolor1081{color:#0000FF}
span#textcolor1082{color:#000000}
span#textcolor1083{color:#0000FF}
span#textcolor1084{color:#000000}
span#textcolor1085{color:#0000FF}
span#textcolor1086{color:#000000}
span#textcolor1087{color:#0000FF}
span#textcolor1088{color:#000000}
span#textcolor1089{color:#0000FF}
span#textcolor1090{color:#000000}
span#textcolor1091{color:#0000FF}
span#textcolor1092{color:#000000}
span#textcolor1093{color:#0000FF}
span#textcolor1094{color:#000000}
span#textcolor1095{color:#0000FF}
span#textcolor1096{color:#000000}
span#textcolor1097{color:#0000FF}
span#textcolor1098{color:#000000}
span#textcolor1099{color:#0000FF}
span#textcolor1100{color:#000000}
span#textcolor1101{color:#0000FF}
span#textcolor1102{color:#000000}
span#textcolor1103{color:#0000FF}
span#textcolor1104{color:#000000}
span#textcolor1105{color:#0000FF}
span#textcolor1106{color:#000000}
span#textcolor1107{color:#0000FF}
span#textcolor1108{color:#000000}
span#textcolor1109{color:#000000}
span#textcolor1110{color:#000000}
span#textcolor1111{color:#0000FF}
span#textcolor1112{color:#000000}
span#textcolor1113{color:#0000FF}
span#textcolor1114{color:#000000}
span#textcolor1115{color:#0000FF}
span#textcolor1116{color:#000000}
span#textcolor1117{color:#0000FF}
span#textcolor1118{color:#000000}
span#textcolor1119{color:#0000FF}
span#textcolor1120{color:#000000}
span#textcolor1121{color:#0000FF}
span#textcolor1122{color:#000000}
span#textcolor1123{color:#0000FF}
span#textcolor1124{color:#000000}
span#textcolor1125{color:#0000FF}
span#textcolor1126{color:#000000}
span#textcolor1127{color:#0000FF}
span#textcolor1128{color:#000000}
span#textcolor1129{color:#0000FF}
span#textcolor1130{color:#000000}
span#textcolor1131{color:#0000FF}
span#textcolor1132{color:#000000}
span#textcolor1133{color:#0000FF}
span#textcolor1134{color:#000000}
span#textcolor1135{color:#0000FF}
span#textcolor1136{color:#000000}
span#textcolor1137{color:#000000}
span#textcolor1138{color:#000000}
span#textcolor1139{color:#0000FF}
span#textcolor1140{color:#000000}
span#textcolor1141{color:#0000FF}
span#textcolor1142{color:#000000}
span#textcolor1143{color:#0000FF}
span#textcolor1144{color:#000000}
span#textcolor1145{color:#0000FF}
span#textcolor1146{color:#000000}
span#textcolor1147{color:#0000FF}
span#textcolor1148{color:#000000}
span#textcolor1149{color:#0000FF}
span#textcolor1150{color:#000000}
span#textcolor1151{color:#0000FF}
span#textcolor1152{color:#000000}
span#textcolor1153{color:#0000FF}
span#textcolor1154{color:#000000}
span#textcolor1155{color:#0000FF}
span#textcolor1156{color:#000000}
span#textcolor1157{color:#000000}
span#textcolor1158{color:#000000}
span#textcolor1159{color:#0000FF}
span#textcolor1160{color:#000000}
span#textcolor1161{color:#0000FF}
span#textcolor1162{color:#000000}
span#textcolor1163{color:#0000FF}
span#textcolor1164{color:#000000}
span#textcolor1165{color:#0000FF}
span#textcolor1166{color:#000000}
span#textcolor1167{color:#0000FF}
span#textcolor1168{color:#000000}
span#textcolor1169{color:#0000FF}
span#textcolor1170{color:#000000}
span#textcolor1171{color:#0000FF}
span#textcolor1172{color:#000000}
span#textcolor1173{color:#0000FF}
span#textcolor1174{color:#000000}
span#textcolor1175{color:#0000FF}
span#textcolor1176{color:#000000}
span#textcolor1177{color:#000000}
span#textcolor1178{color:#000000}
span#textcolor1179{color:#0000FF}
span#textcolor1180{color:#000000}
span#textcolor1181{color:#0000FF}
span#textcolor1182{color:#000000}
span#textcolor1183{color:#0000FF}
span#textcolor1184{color:#000000}
span#textcolor1185{color:#0000FF}
span#textcolor1186{color:#000000}
span#textcolor1187{color:#000000}
span#textcolor1188{color:#000000}
span#textcolor1189{color:#0000FF}
span#textcolor1190{color:#000000}
span#textcolor1191{color:#0000FF}
span#textcolor1192{color:#000000}
span#textcolor1193{color:#0000FF}
span#textcolor1194{color:#000000}
span#textcolor1195{color:#0000FF}
span#textcolor1196{color:#000000}
span#textcolor1197{color:#0000FF}
span#textcolor1198{color:#000000}
span#textcolor1199{color:#0000FF}
span#textcolor1200{color:#000000}
span#textcolor1201{color:#0000FF}
span#textcolor1202{color:#000000}
span#textcolor1203{color:#0000FF}
span#textcolor1204{color:#000000}
span#textcolor1205{color:#0000FF}
span#textcolor1206{color:#000000}
span#textcolor1207{color:#0000FF}
span#textcolor1208{color:#000000}
span#textcolor1209{color:#0000FF}
span#textcolor1210{color:#000000}
span#textcolor1211{color:#0000FF}
span#textcolor1212{color:#000000}
span#textcolor1213{color:#000000}
span#textcolor1214{color:#000000}
span#textcolor1215{color:#0000FF}
span#textcolor1216{color:#000000}
span#textcolor1217{color:#0000FF}
span#textcolor1218{color:#000000}
span#textcolor1219{color:#0000FF}
span#textcolor1220{color:#000000}
span#textcolor1221{color:#0000FF}
span#textcolor1222{color:#000000}
span#textcolor1223{color:#0000FF}
span#textcolor1224{color:#000000}
span#textcolor1225{color:#0000FF}
span#textcolor1226{color:#000000}
span#textcolor1227{color:#0000FF}
span#textcolor1228{color:#000000}
span#textcolor1229{color:#000000}
span#textcolor1230{color:#000000}
span#textcolor1231{color:#0000FF}
span#textcolor1232{color:#000000}
span#textcolor1233{color:#0000FF}
span#textcolor1234{color:#000000}
span#textcolor1235{color:#0000FF}
span#textcolor1236{color:#000000}
span#textcolor1237{color:#000000}
span#textcolor1238{color:#000000}
span#textcolor1239{color:#0000FF}
span#textcolor1240{color:#000000}
span#textcolor1241{color:#0000FF}
span#textcolor1242{color:#000000}
span#textcolor1243{color:#000000}
span#textcolor1250{color:#000000}
span#textcolor1251{color:#000000}
span#textcolor1252{color:#000000}
span#textcolor1351{color:#000000}
span#textcolor1352{color:#0000FF}
span#textcolor1353{color:#000000}
span#textcolor1354{color:#0000FF}
span#textcolor1355{color:#000000}
span#textcolor1356{color:#0000FF}
span#textcolor1357{color:#000000}
span#textcolor1358{color:#0000FF}
span#textcolor1359{color:#000000}
span#textcolor1360{color:#0000FF}
span#textcolor1361{color:#000000}
span#textcolor1362{color:#0000FF}
span#textcolor1363{color:#000000}
span#textcolor1364{color:#0000FF}
span#textcolor1365{color:#000000}
span#textcolor1366{color:#0000FF}
span#textcolor1367{color:#000000}
span#textcolor1368{color:#000000}
span#textcolor1369{color:#0000FF}
span#textcolor1370{color:#000000}
span#textcolor1371{color:#0000FF}
span#textcolor1372{color:#000000}
span#textcolor1373{color:#0000FF}
span#textcolor1374{color:#000000}
span#textcolor1375{color:#0000FF}
span#textcolor1376{color:#000000}
span#textcolor1377{color:#0000FF}
span#textcolor1378{color:#000000}
span#textcolor1379{color:#0000FF}
span#textcolor1380{color:#000000}
span#textcolor1381{color:#0000FF}
span#textcolor1382{color:#000000}
span#textcolor1383{color:#0000FF}
span#textcolor1384{color:#000000}
span#textcolor1385{color:#000000}
span#textcolor1386{color:#0000FF}
span#textcolor1387{color:#000000}
span#textcolor1388{color:#0000FF}
span#textcolor1389{color:#000000}
span#textcolor1390{color:#0000FF}
span#textcolor1391{color:#000000}
span#textcolor1392{color:#0000FF}
span#textcolor1393{color:#000000}
span#textcolor1394{color:#0000FF}
span#textcolor1395{color:#000000}
span#textcolor1396{color:#0000FF}
span#textcolor1397{color:#000000}
span#textcolor1398{color:#0000FF}
span#textcolor1399{color:#000000}
/* end css.sty */

